<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <p><a href="/">Home</a></p>
  <form action="/chain" method="GET" id="pathForm">
    <p>Restart:</p>
    <button name="path_type" value="manual">Let me make my own path</button>
    <button name="path_type" value="auto">Choose a path for me</button>
  </form>
  <p id="chain-counter">Article chain: <span><%-chain.length%>/10</span></p>
  <% if (chain) { %>
    <p id="article-chain" class="constructing">
      <% if (chain.length > 1) { %>
        <% chain.forEach(function(node) { %>
          <span class="article-node"><%- node %></span>
        <% }); %>
      <% } %>
    </p>
  <% } %>
  <% if (articleLinks) { %>
    <p>Randomised collection of links in current article:</p>
    <div class="article-links">
      <form action="/chain" method="POST">
        <% articleLinks.forEach(function(link) { %>
          <button class="article-link" name="article_link" value=<%=link.url_stub%>><%- link.title %></button>
        <% }); %>
      </form>
    </div>
  <% } %>
  <% if (chain.length == 10) { %>
    <button id="createNarrative">Create a narrative</button>
  <% } %>
  <script src="/js/scripts.js"></script>
</body>
</html>