<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <p><a href="/">Home</a></p>
  <p>Restart:</p>
  <form action="/chain" method="GET" id="pathForm">
    <button name="path_type" value="manual">Let me make my own path</button>
    <button name="path_type" value="auto">Choose a path for me</button>
  </form>
  <p>Article chain:</p>
  <% if (chain) { %>
    <p>
      <% if (chain.length > 1) { %>
        <% for (var i = 0; i < chain.length - 1; i++) { %>
          <%- chain[i] %> → 
        <% } %>
      <% } %>
      <b><%- chain[chain.length - 1] %></b>
    </p>
  <% } %>
  <p>Randomised collection of links in current article:</p>
  <% if (articleLinks != null) { %>
    <div class="article-links">
      <form action="/chain" method="POST">
        <% articleLinks.forEach(function(link) { %>
          <button class="article-link" name="article_link" value=<%=link.url_stub%>><%- link.title %></button>
        <% }); %>
      </form>
    </div>
  <% } %>
  <script src="/js/scripts.js"></script>
</body>
</html>