<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyperlinked Narratives</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,600,600i|Vampiro+One&display=swap" rel="stylesheet">
  <link rel="icon" href="/favicon.svg">
  <!-- social -->
  <meta property="og:title" content="Hyperlinked Narratives">
  <meta property="og:description" content="A Wikipedia-based narrative tool.">
  <meta property="og:image" content="https://hyperlinked-narratives.herokuapp.com/favicon.svg">
  <meta property="og:url" content="https://hyperlinked-narratives.herokuapp.com">
  <meta name="twitter:card" content="https://hyperlinked-narratives.herokuapp.com/favicon.svg">
  <!-- end social -->
</head>
<body id="index">
  <header>
    <h1 id="home"><a href="/">Hyperlinked Narratives</a></h1>
  </header>
  <main>
    <p id="intro">The Web is a sprawling metropolis of seven-lane roads and small dirt lanes, with pages like &ldquo;List of <i>Big Brother 17</i> (American season) houseguests&rdquo; and &ldquo;University of Mpumalanga&rdquo; living six or fewer connections away. Based on <a href="https://en.wikipedia.org/wiki/Wikiracing">Wikiracing</a> and Mad Libs, Hyperlinked Narratives is a Wikipedia-based narrative tool for creating stories that traverse the information highways.</p>
    <form action="/chain" method="GET" id="path-form">
      <button class="pathType action-btn" name="pathType" value="manual">Let me make my own path</button>
      <button class="pathType action-btn" name="pathType" value="auto">Choose a path for me</button>
    </form>
  </main>
  <script src="/js/scripts.js"></script>
</body>
</html>