<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <p>Start:</p>
  <form action="/chain" method="GET" id="pathForm">
    <button name="path_type" value="manual">Let me make my own path</button>
    <button name="path_type" value="auto">Choose a path for me</button>
  </form>
  <script src="/js/scripts.js"></script>
</body>
</html>