<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <p>Random article:</p>
  <% if (articleTitle != null) { %>
    <p><b><%- articleTitle %></b></p>
  <% } %>
  <p>Randomised collection of links in article:</p>
  <% if (articleLinks != null) { %>
    <ul class="article-links">
      <% articleLinks.forEach(function(link) { %>
        <li class="article-link"><%- link %></li>
      <% }); %>
    </ul>
  <% } %>
  <script src="/js/scripts.js"></script>
</body>
</html>