<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <p>Random article:</p>
  <% if (initialArticle != null) { %>
    <p><b><%- initialArticle.title %></b></p>
  <% } %>
  <p>Randomised collection of links in article:</p>
  <% if (links != null) { %>
    <div class="article-links">
      <% links.forEach(function(link) { %>
        <button class="article-link"><%- link.title %></button>
      <% }); %>
    </div>
  <% } %>
  <script src="/js/scripts.js"></script>
</body>
</html>