body {
  font-family: sans-serif;
  line-height: 1.2;
}

#article-chain.constructing {
  font-size: 1em;
  transition: font-size 1s;
}

.constructing .article-node:not(:last-of-type)::after {
  content: " → ";
}

.constructing .article-node:last-of-type {
  font-weight: bold;
}

#article-chain.narrativising {
  font-size: 2.5em;
  line-height: 1.5;
}

.narrativeInput {
  display: inline-block;
  margin: 0 .5em;
  padding: 0 .2em;
  border: 0;
  border-bottom: 1px solid #008080;
  background-color: #b9e1e1;
  font-size: 1em;
  color: #008080;
}

.article-links form {
  display: flex;
  flex-wrap: wrap;
}

.article-link {
  display: block;
  margin: 7px;
  padding: 7px;
  background: none;
  border: 1px solid currentColor;
  border-radius: 5px;
  color: #008080;
  font-size: 1em;
  opacity: 0;
  transition: opacity 500ms;
}

.article-link:hover {
  cursor: pointer;
}