body {
  font-family: sans-serif;
}

.article-links form {
  display: flex;
  flex-wrap: wrap;
}

.article-link {
  display: block;
  margin: 7px;
  padding: 7px;
  background: none;
  border: 1px solid currentColor;
  border-radius: 5px;
  color: #008080;
  font-size: 1em;
  opacity: 0;
  transition: opacity 500ms;
}

.article-link:hover {
  cursor: pointer;
}